//----------------------
//    _global.scss
//----------------------

.admin {
    background-color: #fafafa;

    .admin-home {
        min-height: calc(100vh - 4rem);
        padding: 1.875rem;

        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}

.login-inner {
    padding: 3.75rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        fieldset {
            display: flex;
            gap: 0.5rem;
        }

        button {
            align-self: baseline;
        }

        label {

            &.required {
                &::after {
                    content: '*';
                    color: red;
                }
            }
        }

        span[role="alert"] {
            color: red;
        }
    }

}



fieldset {
    margin-bottom: 0.5rem;
}